body {
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

label{
    padding-right: 10px;
}

input[type="radio"], label {
    cursor: pointer;
}

input:checked + label {
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.text-field{
    display: flex;
}

input[type="text"]{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.charts {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

.charts-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
